body {
    font-family: "Simplon BP Bold", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: 100px;
    background-color: #357180;
    margin: 0;
    padding: 0;


   /* Estilos para o nav (barra de navegação) */
nav {  
    text-align: left;
  
    height: 50px;
    margin-top: 50px;
    margin-left: 50px;

}

.navbar{
   
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

}
